h1 {
    text-align: justify;
   font-family: Lobster, monospace;
   color: rgb(255, 166, 0)
   
 }
 #lat {
   margin: 5px;
     border-radius: 5%;
   border-color:green;
   border-width: 1px;
   border-style: solid;
background-color: rgb(8, 5, 5);
color: cornsilk;
padding: 10px,10px,10px,10px
 }
 #lon {
     margin: 5px;
     border-radius: 5%;
   border-color:green;
   border-width: 1px;
   border-style: solid;
background-color: rgb(8, 5, 5);
color: cornsilk;
padding: 10px,10px,10px,10px
 }
 #place {
  margin: 5px;
  border-radius: 5%;
border-color: green;
border-width: 1px;
border-style: solid;
background-color: rgb(8, 5, 5);
color: cornsilk;
padding: 10px,10px,10px,10px
}
 #bus {
     margin: 5px;
     border-radius: 5%;
   border-color: green;
   border-width: 1px;
   border-style: solid;
background-color: rgb(8, 5, 5);
color: cornsilk;
padding: 10px,10px,10px,10px
 }
 body {
     color: cornsilk;
background-color: black;
 }
 p {
     color: rgb(255, 166, 0);
     font-family: 'Ubuntu', sans-serif;
 }
 h2 {
  color: rgb(255, 166, 0);
  font-family: 'Ubuntu', sans-serif;
}
h3 {
  color: rgb(255, 166, 0);
  font-family: 'Ubuntu', sans-serif;
}
